# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd

# Virtualenv
venv/
env/
ENV/
.venv/
.Python

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VSCode / PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# Migrations (اختیاری — اگر می‌خوای با دیتا از صفر بسازی)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.log

# Railway specific
.procfile
runtime.txt

# Others
coverage/
htmlcov/
